streamlit
altair
pandas
numpy
matplotlib
plotly
scikit-learn
requests
gitpython
pillow
pyarrow
protobuf
pydeck
markdown-it-py
rich
jsonschema
tornado
validators
smmap
tzlocal
typing-extensions
watchdog
setuptools

