streamlit==1.10.0
altair==4.0.0
pandas==2.2.3
numpy==2.2.4
matplotlib==3.7.1
plotly==5.7.0
scikit-learn==1.0.2
requests==2.32.3
gitpython==3.1.44
pillow==11.1.0
pyarrow==19.0.1
protobuf==3.20.3
pydeck==0.9.1
markdown-it-py==2.2.0
rich==14.0.0
jsonschema==4.23.0
tornado==6.4.2
validators==0.34.0
smmap==5.0.2
tzlocal==5.3.1
typing-extensions==4.13.1
watchdog==6.0.0
setuptools==65.5.0

